.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__items
      .Chat-main__group-info__items__group-name
        tech-camp
      .Chat-main__group-info__items__member-name
        member : masa
    .Chat-main__group-info__button
      %input.Chat-main__group-info__button__editBtn{"type": "button", "onclick": "location.href='#'", "value": "Edit"}
      %span<>

  .Chat-main__message-list
    = render @messages # 左の記述は右記の記述の略 = render partial: 'message', collection: @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], local: true do |f|
      .Chat-main__message-form__items
        .Chat-main__message-form__items__form
          = f.text_field :content, placeholder: 'type a messagepe'
          = f.label :image, class: 'Chat-main__message-form__items__imageselector' do
            = icon('fas', 'image', class: 'Chat-main__message-form__items__imageselector__image')
            = f.file_field :image
            /= f.file_field :image, class: 'Hidden'
      .Chat-main__message-form__button
        = f.submit 'Send', class: 'Chat-main__message-form__button__sendBtn'