.Side_bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name
        = current_user.name
      .Side-bar__user-name__top-items__icon
        //new_group_path()で合っているのだろうか？？（2020.12.02）
        = link_to new_group_path(), class: "Side-bar__user-name__top-items__icon__edit" do
          = icon('fa', 'edit', class: "Side-bar__user-name__top-items__icon__edit")
          %span<>
        = link_to edit_user_path(current_user), class: "Side-bar__user-name__top-items__icon__cog" do
          = icon('fa', 'cog', class: "Side-bar__user-name__top-items__icon__cog")
          %span<>

  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__top-items
        = link_to group_messages_path(group) do
          .Side-bar__group-list__top-items__name
            = group.name
          .Side-bar__group-list__top-items__status
            = group.show_last_message # groupモデルのインスタンスメソッドであるshow_last_messageを実行